@media only screen and (max-width: 1023px) {
    .sidenavs {
        width: 0;
        position: fixed;
        background: $menu-color;
        top: 0;
        left: 0;
        display: inline-block;
        overflow-x: hidden;
        height: 100vh;
        transition: all 0.3s;
        z-index: 99999;
    }

    span.toggle_menu,
    a.closebtn {
        display: block !important;
    }

    .nav-menu {
        align-items: flex-start;
        display: flex;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        flex-direction: column;
    }

    header.header .navigation-inner .nav-menu li a {
        color: $color-white;

    }

    section.hero-section .hero-section-inner::before,
    header.header .navigation-inner::after,
    header.header .navigation-inner::before,
    section.hero-section .hero-section-inner::after {

        display: none;
    }

    section.hero-section .hero-section-inner {
        border-radius: 20px;
    }

    header.header .navigation-inner {
        align-items: center;
        display: flex;
        justify-content: center;

    }

    .logo-img img {

        display: block !important;
    }

}

@media only screen and (max-width: 991px) {
    .las-text.mobile {
        display: block;
    }

    .vegas-hotel {
        padding: 0 0 50px;
    }

    .desktop-text {
        display: none;
    }

    .about-menu {
        margin-bottom: 20px;
    }

    section.hero-section .hero-section-inner .hero-section-content {
        padding: 30px;
    }

    section.hero-section .hero-section-inner .hero-section-content h1 {
        font-size: 44px;
    }

    header.header .navigation-inner {
        padding: 1rem 0;
    }

    section.hero-section .hero-section-inner {
        height: auto;
    }

    section.hero-section .hero-section-inner .hero-image {
        position: static;
    }

    .hotel-content {
        margin-top: 30px;
    }

    section.casino-hotels .casino-hotels-inner {
        margin: 2rem 0;
    }

    footer.footer .footer-inner .social-icon {
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin-top: 16px;
    }

    footer.footer .footer-inner .social-icon ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    footer.footer .footer-inner .social-icon ul li {
        padding: 0;
    }

    .vegas-hotel .vegas-hotel-inner .las-text {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    section.contact .form-inner-box {
        padding: 40px 20px;
    }

    section.hero-section .hero-section-inner .hero-section-content {
        padding: 18px;
        ;
    }
}

@media only screen and (max-width: 575px) {
    .desktop-version {
        display: none;
    }

    .mobile-view-design.entertainment {
        display: block;
    }

    section.home-main.mobile-table {
        display: block;
    }

    .desktop-version {
        display: none;
    }

    .mobile-view-design p {
        text-align: left !important;
        font-size: 15px;
        color: #fff;
    }

    p.rated-star {
        color: #fdbb4f;
        font-size: 14px !important;
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width:480px) {
    .mobile-view-design .warapper .main_box .one_o h6.heading_main {
        font-size: 17px !important;
    }

    .mobile-view-design .awesome a {
        color: #fff;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        background: #1f2b42;
        padding: 12px 31px;
        text-align: center;
        border-radius: 6px;
        display: inline-block;
        margin-top: 37px;
    }
}

@media screen and (max-width:425px) {

    .beste {
        max-width: 95%;
    }

    .first-bonus {
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        color: #2e3986;
    }

    section.home-main.mobile-table .container {
        padding: 0 8px;
    }

    .myceltwo {
        margin: 0;
    }

    p {
        font-size: 14px;
        text-align: justify;
    }
}

@media screen and (max-width:395px) {
    .mobile-view-design .awesome a {
        font-size: 12px;
    }

}