// Define a variable for color
$color-white: #fff;
$menu-color: #1f2b42;
$color-yellow: #f8b940;
$color-black: #000;
$color-border-bottom: #e1e1e1;
$border-input: #a9a9a9;

// Define a variable for font family
$mainFont: 'Outfit', sans-serif;


// Define a variable for width
$max-container-width: 1280px;

// Define a variable for padding
$container-padding: 2rem;

$combination-padding-top: 60px;
$combination-padding-bottom: 50px;

//gap
$gap-size: 2rem;