// Define a variable for color
$color-white: #fff;
$menu-color: #1f2b42;
$color-yellow: #f8b940;
$color-black: #000;
$color-border-bottom: #e1e1e1;
$border-input: #a9a9a9;

// Define a variable for font family
$mainFont: 'Outfit', sans-serif;


// width
$max-container-width: 1280px;