@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

/* line 14, ../scss/_frame.scss */
::-webkit-scrollbar {
    width: 4px;
}

.container-fluid {
    padding: 0;
}

/* line 18, ../scss/_frame.scss */
::-webkit-scrollbar-track {
    background: $menu-color;
}

/* line 22, ../scss/_frame.scss */
::-webkit-scrollbar-thumb {
    background: $color-yellow;
    border-radius: 2px;
}

* {
    @include global-reset;
}

img {
    width: 100%;
}

.container {
    @include container;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

// Header css start from here
header.header {
    @include header-bg;

    .navigation-inner {
        @include navigation-inner;

        &::before {
            @include navigation-inner-before;
        }

        &::after {
            @include navigation-inner-after;
        }

        .nav-menu {
            @include nav-menu;

            li {
                a {
                    @include nav-menu-a;

                    &.active {
                        @include nav-menu-a-active;
                    }

                    &:hover {
                        @include nav-menu-a-active;
                    }
                }
            }
        }

        span.toggle_menu,
        a.closebtn {
            @include toggle_menu;
        }
    }

    .sidenavs .closebtn {
        @include closebtn;
    }
}

// Header css end here

// hero section css start from here
section.hero-section {
    .hero-section-inner {
        @include hero-section-inner;

        &::before {
            @include hero-section-inner-before;
        }

        &::after {
            @include hero-section-inner-after;
        }

        .hero-section-content {
            @include hero-section-content;

            h1 {
                @include hero-section-content-heading;

                span {
                    @include hero-section-content-heading-span;
                }
            }

            p {
                @include hero-section-content-para;
            }

            .hero-button {
                @include hero-button;

                a.button {
                    @include hero-button-button;

                    &:hover {
                        @include hero-button-button-hover;
                    }
                }
            }
        }

        .hero-image {
            @include hero-image;
        }
    }
}

// hero section css end here

// you ready to roll the dice and experience 
section.combination {
    @include combination;

    .combination-inner {
        .row {
            @include combination-inner-row;

            .col-lg-6 {
                .combination-content {
                    h3 {
                        @include combination-content-heading;

                        span {
                            @include hero-section-content-heading-span;
                        }
                    }

                    p {
                        margin-bottom: 1rem;
                        font-size: 16px;
                        color: $menu-color;
                        line-height: 32px;
                        width: 100%;
                        max-width: 555px;

                    }
                }

                .combination-img {
                    @include combination-img;

                    figure {
                        img {
                            @include combination-img-img;
                        }
                    }
                }
            }
        }
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

// casino-hotels

section.casino-hotels {
    @include casino-hotels;

    .casino-hotels-wrapper {
        h4 {
            text-align: center;
            @include combination-content-heading;
        }
    }

    .casino-hotels-inner {
        @include casino-hotels-inner;

        .hotel-image {
            img {
                @include hotel-image;
            }
        }

        .hotel-content {
            h3 {
                @include hotel-content;
            }

            p {
                @include hotel-content-p;

                img {
                    @include hotel-content-p-img;
                }
            }


        }

        .btn-wrapper {
            a {
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1;
                padding: 18px;
                text-decoration: none;
                text-transform: capitalize;
                white-space: nowrap;
                transition: all 0.3s ease-in-out;
                background-color: #f8b940;
                border: 1px solid #f8b940;

                &:hover {
                    background-color: transparent;
                    color: #f8b940;
                    border: 1px solid #f8b940;
                }
            }
        }
    }
}

// 

section.perfect {
    @include perfect;

    .perfect-inner {
        h4 {
            @include perfect-inner-heading;
        }

    }

    .perfect-wrapper {
        ul {
            li.heading {
                @include perfect-wrapper-list;
            }

            li.dark {
                @include li-dark;

                &::before {
                    @include li-dark-before;
                }
            }
        }
    }
}


// 
section.adventure {
    @include adventure;

    .adventure-wrapper {
        p {
            @include adventure-p;
        }
    }
}

footer.footer {
    @include footer;

    .footer-inner {
        .about-menu {
            h3 {
                @include about-menu-heading;
            }

            p {
                @include about-menu-p;
            }

            h6 {
                @include about-menu-copy;
            }

            ul {
                li {
                    a {
                        @include about-menu-a;

                        &:hover {
                            @include about-menu-hover;
                        }
                    }
                }
            }
        }

        .social-icon {
            @include social-icon;

            ul {
                li {
                    @include social-icon-li;

                    a {
                        @include social-icon-a;

                        &:hover {
                            @include social-icon-hover;
                        }
                    }
                }
            }
        }
    }
}

// ABOUT PAGE CSS
section.hero-section.about {
    .hero-section-inner.about {
        @include hero-section-about;


        .hero-section-content {
            h2 {
                @include hero-section-content-h2;
            }

            p {
                @include hero-section-content-p;
            }
        }
    }
}

.vegas-hotel {
    @include vegas-hotel;

    .vegas-hotel-inner {
        @include vegas-hotel-inner;

        .las-text {
            @include las-text;

            h3 {
                @include las-text-h3;
            }

            p {
                @include las-text-p;

                img {
                    @include las-text-img;
                }
            }
        }

        .lasvage {
            img {
                @include lasvage;
            }
        }
    }
}

section.our-mission {

    @include our-mission;

    .mission {
        h4 {
            @include mission-h4;
        }

        p {
            @include mission-p;
        }

        h5 {
            @include mission-h5;
        }
    }
}

// privacy page css

section.privacy {
    @include privacy;

    .privacy-inner {
        h5 {
            @include privacy-inner-h5;
        }

        p {
            @include privacy-inner-p;

            a {
                color: $color-yellow;
            }
        }

        ul {
            li {
                @include privacy-inner-li;

                &::before {
                    @include privacy-inner-li-before;
                }
            }
        }
    }
}


// contact page css start from here
section.contact {
    @include contact;

    .contact-innre {
        h5 {

            @include contact-innre-h5;
        }

        p {

            @include contact-innre-p;

            a {
                color: $color-yellow
            }
        }
    }

    .form-inner-box {
        @include form-inner-box;

        .connect-inner-box {

            .connect-billboard {

                .inbox-wrapper {

                    label {
                        @include label;
                    }

                    input {
                        @include input;
                    }

                    textarea#w3review {

                        @include textareaw3review;
                    }

                    input#SendMyMessage {

                        @include SendMyMessage;

                        &:hover {
                            @include SendMyMessage-hover;
                        }
                    }
                }
            }
        }
    }
}

section.networks-social {
    @include networks-social;

    .social-networks {
        h5 {
            @include social-networks-h5;
        }

        p {
            @include social-networks-p;
        }

        ul {
            li {
                @include social-networks-li;

                a {
                    color: $color-yellow
                }
            }
        }
    }
}

// body#contact-page .hero-section-content,
// body#about-page .hero-section-content {
//     padding-left: 0;
// }


// 


#button {
    @include button-b;

    &::after {
        @include button-b-a;
    }

    &:hover {
        cursor: pointer;
        background-color: $background-color_2;
    }

    &:active {
        background-color: $background-color_3;
    }
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.knsl-preloader-frame {
    @include preloader;

    .knsl-preloader {
        @include knsl-preloader;

        img {
            @include preloader-img;
        }

        .knsl-preloader-progress {
            @include preloader-progress;

            .knsl-preloader-bar {
                @include preloader-bar;
            }
        }
    }
}

.knsl-preloader-frame.knsl-hidden {
    @include knsl-hidden;
}

.knsl-preloader-bar {
    @include knsl-preloader-bar;
}

.las-text.mobile {
    display: none;
}

p.vegas-p {
    @include las-text-p;
}

h4.wrapperp {
    margin-bottom: 20px !important;
}

h4.wrappers {
    margin-bottom: 20px !important;
}

h5.weess {
    margin-bottom: 30px;
}

.pop {
    background: #ff9800;
    padding: 10px;
    margin-bottom: 20px;
}

.pop h5 {
    color: #fff !important;
}

.pop p {
    color: #fff !important;
}

.aria {
    margin-bottom: 20px;
}

/*mobile-view-design*/
.bgi-casino {
    background: url(../images/bg-casiono.jpg);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 220px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.bgi-casino::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: -1;
}

.main-rate-star p.rated-star:nth-child(3) {
    font-size: 19px !important;
}

.bgi-casino span {
    color: #d08a38;
    font-size: 18px;
    font-weight: 600;
}

.beste {
    font-size: 25px !important;
    font-weight: 600;
    color: #fff;
    max-width: 69%;
    width: 100%;
    line-height: 34px;
}

.encrypted {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.encrypted p {
    color: #fff !important;
    font-size: 14px;
    margin: 0 2px 0 0;
}

.myceltwo {
    margin: 0 0 0 10px;
}

.mycelonw .main-rate-star {
    display: flex;
}

img.encrypted-img {
    max-width: 20px;
    margin: 0 4px 0 0;
}

.mobile-view-design {
    background: #f4f4f4;
    padding-bottom: 28px;
    display: none;
}

.mobile-view-design .warapper {
    background: rgba(215, 217, 219, 0);
    border-bottom: 4px solid #1a385a;
    border-radius: 6px;
    margin: 30px 0;
}

.mobile-view-design .warapper .main_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #f8b940;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.mobile-view-design .warapper .main_box::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f2b42;
    position: absolute;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    width: 55%;
    z-index: -1;
}

.mobile-view-design .warapper .main_box .beting_logo {
    width: 55%;
}

.mobile-view-design .warapper .main_box .beting_logo img {
    width: 70%;
    height: 130px;
    object-fit: contain;
}

.mobile-view-design .warapper .main_box .one_o {
    width: 45%;
}

.mobile-view-design .warapper .main_box .one_o h6.heading_main {
    font-size: 23px !important;
    color: #1a385a;
    font-weight: 600;
}

.mobile-view-design .warapper .main_box .one_o h6.heading_main .one_o p {
    color: #000;
    font-size: 18px;
    margin-top: 10px;
}

.mobile-view-design .start_line {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 1px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #ffffff;
    margin: 17px 0;
}

.mobile-view-design .start_line p.rating-text {
    padding-bottom: 4px !important;
    margin: 0px !important;
    margin-top: 13px !important;
}

.mobile-view-design .start_line .notpad {
    padding: 0 9px;
}

.mobile-view-design .start_line .notpad p {
    padding-bottom: 0;
}

.mobile-view-design .start_line .main-rate-star {
    display: flex;
    text-align: center;
    justify-content: center;
}

.mobile-view-design .start_line .main-rate-star p.rated-star {
    color: #fdbb4f;
    font-size: 14px !important;
}

.mobile-view-design .awesome a {
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    background: #1f2b42;
    padding: 16px 44px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    margin-top: 37px;
}

.text_auality h3 {
    color: #f8b940;
    margin-bottom: 0;
    font-size: 20px;
    padding: 5px 0;
}

.mobile-view-design p {
    color: #fff;
    font-size: 17px;
}

.one_o p {
    line-height: 22px;
    font-size: 24px;
    color: #fff;
}


p.rating-text {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.rating-text b {
    color: #fff;
    font-size: 27px;
}

.mobile-view-design p {
    color: #fff;
    margin-bottom: 0;
}

.text_auality p {
    color: #000;
}

.rate.notpad {
    margin-right: 10px;
}

.mycel {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 10px;
}

.main-rate-star {
    display: flex;

}

.desktop-version {
    display: block;
}

.mobile-view-design.entertainment {
    display: none;
}

/*mobile-view-design*/

@import './responsive';